.content-login,
.content-register {
    width: 340px;
    margin: 0 auto;
    background: #f3f3f3;
    padding: 20px 10px;
}

.content-login .page-member-login .main .inner .inner-inner,
.content-register .page-member-register .main .inner-inner {
    padding: 30px 30px 25px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 15px -10px rgb(0 0 0 / 30%);
}

.content-login .page-member-login .main .inner .inner-inner .title,
.content-register .page-member-register .main .inner .inner-inner .title {
    margin: 20px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 21px;
}

.content-login>.page-member-login>.main>.inner>.inner-inner>.member-form fieldset {
    margin-bottom: 10px;
}

.field-label {
    position: relative;
    display: block;
    color: #777;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 17px;
}

.field-label span:first-child {
    top: 17px;
    display: block!important;
    position: absolute;
    left: 16px;
    color: #999;
    background-color: #fff;
    z-index: 10;
    transition: top 150ms ease-out, left 150ms ease-out, background 150ms ease-out, font-size 150ms ease-out;
}

.field-label span.required-field:after {
    content: '*';
    display: inline-block;
    margin-left: 2px;
}

.member-form input[type=text],
.member-form input[type=password] {
    width: 240px;
    height: 44px;
    padding: 0 15px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    color: #1c2d3a;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 14px;
}

.content-register>.page-member-register>.main>.inner>.inner-inner>.member-form>.form-horizontal>.agreement {
    margin-top: 20px;
}

.content-register>.page-member-register>.main>.inner>.inner-inner>.member-form>.form-horizontal>.agreement>.field-label>.required-field {
    margin-left: 0;
    margin-top: 2px;
    color: #1c2d3a;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 14px;
}

.content-register>.page-member-register>.main>.inner>.inner-inner>.member-form>.form-horizontal>.agreement>.field-label>.required-field a {
    color: #e8281e;
}

.field-label.checkbox-label {
    display: inline-block;
}

.field-label.checkbox-label {
    position: relative;
    cursor: pointer;
}

.field-label.checkbox-label input[type=checkbox]:checked:before {
    background: #e8281e;
    border-color: #e8281e;
}

.field-label.checkbox-label input[type=checkbox]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    transition: all .36s ease-in-out;
}

.field-label.checkbox-label input[type=checkbox]:checked::after {
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    width: 16px;
    height: 16px;
    background: url(../../images/icon-check-white-small.svg);
}

.field-label.checkbox-label input[type=checkbox]:after {
    content: '';
    display: none;
}

*:before,
*:after {
    box-sizing: border-box;
}

label {
    cursor: default;
}

.content-login>.page-member-login>.main>.inner>.inner-inner>.member-form>.form-horizontal>.login-btn,
.content-register>.page-member-register>.main>.inner>.inner-inner>.member-form>.form-horizontal>.register-btn {
    margin-top: 20px;
}

.content-login>.page-member-login>.main>.inner>.inner-inner>.member-form>.form-horizontal>.login-btn>.button-animate-login,
.content-register>.page-member-register>.main>.inner>.inner-inner>.member-form>.form-horizontal>.register-btn>.button-animate-register {
    width: 275px;
    position: relative;
    overflow: hidden;
    background: #e8281e;
    border: 1px solid #e8281e;
    display: flex;
    height: 48px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.content-login>.page-member-login>.main>.inner>.inner-inner>.member-form>.form-horizontal>.login-btn>.button-animate-login:before,
.content-register>.page-member-register>.main>.inner>.inner-inner>.member-form>.form-horizontal>.register-btn>.button-animate-register:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .25s ease;
    left: 0;
    top: 0;
}

.content-login>.page-member-login>.main>.inner>.inner-inner>.member-form>.form-horizontal>.login-btn>.button-animate-login span,
.content-register>.page-member-register>.main>.inner>.inner-inner>.member-form>.form-horizontal>.register-btn>.button-animate-register span {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0;
    text-transform: uppercase;
}

.content-login>.page-member-login>.main>.inner>.inner-inner>.member-form>.forgotten-password {
    margin-top: 10px;
    text-align: center;
}

.content-login>.page-member-login>.main>.inner>.inner-inner>.member-form>.forgotten-password a {
    color: #e8281e;
}

.content-login>.page-member-login>.main>.inner>.inner-inner>.separator,
.content-register>.page-member-register>.main>.inner>.inner-inner>.separator {
    position: relative;
    padding: 15px 0;
    text-align: center;
}

.content-login>.page-member-login>.main>.inner>.inner-inner>.separator:before,
.content-register>.page-member-register>.main>.inner>.inner-inner>.separator:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: #e5e5e5;
    top: 50%;
}

.content-login>.page-member-login>.main>.inner>.inner-inner>.separator span,
.content-register>.page-member-register>.main>.inner>.inner-inner>.separator span {
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    background: #fff;
    color: #777;
    font-weight: 400;
}

.content-login>.page-member-login>.main>.inner>.inner-inner>.media-login>.facebook-login-button,
.content-register>.page-member-register>.main>.inner>.inner-inner>.media-login>.facebook-login-button {
    background: #4267b2;
    display: block;
    width: 100%;
    height: 48px;
    margin-bottom: 10px;
    padding: 14px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: 0;
}

.content-login .page-member-login .main .inner .inner-inner .media-login>.facebook-login-button:before,
.content-register .page-member-register .main .inner .inner-inner .media-login>.facebook-login-button:before {
    position: relative;
    background: url(../../images/icon-facebook-white.svg);
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.content-login .page-member-login .main .inner .inner-inner .media-login>.facebook-login-button>span,
.content-register .page-member-register .main .inner .inner-inner .media-login>.facebook-login-button>span {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 14px;
    text-transform: uppercase;
}

.content-login>.page-member-login>.main>.inner>.inner-inner>.media-login>.google-login-button,
.content-register>.page-member-register>.main>.inner>.inner-inner>.media-login>.google-login-button {
    background: #db4437;
    display: block;
    width: 100%;
    height: 48px;
    margin-bottom: 10px;
    padding: 14px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: 0;
}

.content-login .page-member-login .main .inner .inner-inner .media-login>.google-login-button:before,
.content-register .page-member-register .main .inner .inner-inner .media-login>.google-login-button:before {
    position: relative;
    background: url(../../images/icon-google-white.svg);
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.content-login .page-member-login .main .inner .inner-inner .media-login>.google-login-button>span,
.content-register .page-member-register .main .inner .inner-inner .media-login>.google-login-button>span {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 14px;
    text-transform: uppercase;
}

.content-login .page-member-login .main .inner .inner-inner .not-registered-user,
.content-register .page-member-register .main .inner .inner-inner .existing-user {
    text-align: center;
}

.content-login .page-member-login .main .inner .inner-inner .not-registered-user .not-registered-user-text,
.content-register .page-member-register .main .inner .inner-inner .existing-user .existing-user-text {
    color: #1c2d3a;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
}

.content-login .page-member-login .main .inner .inner-inner .not-registered-user a,
.content-register .page-member-register .main .inner .inner-inner .existing-user a {
    color: #e8281e;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
}

.content-login .page-member-login .main .inner .back-to-site,
.content-register .page-member-register .main .inner .back-to-site {
    display: block;
    margin: 25px 0;
    text-align: center;
}

.text-body-dark {
    color: #1c2d3a;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
}

.content-login .page-member-login .main .inner .back-to-site .back-to-site-icon,
.content-register .page-member-register .main .inner .back-to-site .back-to-site-icon {
    width: 16px;
    height: 16px;
    margin-right: 7px;
    background: url(../../images/back-to-site-icon.svg);
}

.content-login .page-member-login .main .inner .back-to-site span,
.content-register .page-member-register .main .inner .back-to-site span {
    display: inline-block;
    vertical-align: middle;
}

.content-login .page-member-login .main .inner .inner-inner .logo,
.content-register .page-member-register .main .inner .inner-inner .logo {
    display: block;
    width: 218px;
    height: 36px;
    margin: 0 auto;
    background: url(../../images/dimiparts-comb-logo.jpg) no-repeat 0 0;
    margin-left: 50px;
}

.content-login .page-member-login .main .inner .inner-inner .member-form input[type=text]:focus,
.content-login .page-member-login .main .inner .inner-inner .member-form input[type=password]:focus,
.content-register .page-member-register .main .inner .inner-inner .member-form input[type=text]:focus,
.content-register .page-member-register .main .inner .inner-inner .member-form input[type=password]:focus {
    outline: none !important;
    padding: 0 14px !important;
    border-color: transparent;
    border: 2px solid #e8281e !important;
}

.field-label.focused span:first-child {
    top: -13px;
    left: 8px;
    font-size: 12px;
    background: white;
    padding: 8px;
    z-index: 50;
    padding-bottom: 1px;
}

.login-wrap,
.register-wrap {
    background: #f3f3f3;
}

.button-animate-login:hover:before{
    content: '';
    background: rgba(255,255,255,.15);
}